@model EditDressDetailsModel
@{
    ViewData["Title"] = "EditDressDetails";
}

<h2>EditDressDetails</h2>

<div>
    <img src="#" alt="Alternate Text" />

</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateDressDetails" asp-route-id="@Model.DressId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="new-dress-WebpageUrl">
                <label asp-for="DressWebpage" class="control-label"></label>
                <input asp-for="DressWebpage" class="form-control" />
                <span asp-validation-for="DressWebpage" class="text-danger"></span>
            </div>
            <div class="new-dress-name">
                <label asp-for="DressName" class="control-label"></label>
                <input asp-for="DressName" class="form-control" />
                <span asp-validation-for="DressName" class="text-danger"></span>
            </div>
            <div class="new-dress-price">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="new-dress-description">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" asp-for="DressType" checked value="Bride"> Bride
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" asp-for="DressType" autocomplete="off" value="Bridesmaid"> Bridesmaid
                </label>
                <span asp-validation-for="DressType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>