
@{
    ViewData["Title"] = "New";
}

<div>
    Dress Index
    <form asp-controller="dress" asp-action="new" method="get">
        Dress Webpage: <input name="WebpageUrl" type="url" />
        <button type="Submit">Search</button>
    </form>
</div>