/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (100) *  FROM [WeddingDressApp].[dbo].Dresses
SELECT TOP (100) *  FROM [WeddingDressApp].[dbo].DressImages
SELECT TOP (100) *  FROM [WeddingDressApp].[dbo].[Images]